<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">System Definition</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form id="systemDefinitionForm">

      <div class="row mb-2">
        <div class="col-md-6">
          <label for="systemNameField">
            System Name:
          </label>
          <input type="text" class="form-control" id="transportationSystemNameField" placeholder="System Name" maxLength="30" value="{{name}}" required>
          <small id="transportationSystemNameErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <label for="fuelSelect">
            Fuel:
          </label>
          <select class="form-select" id="fuelSelect">
            {{#select fuelDefinition}}
              {{#if (size view.fuelDefinitions) }}
                {{#each view.fuelDefinitions}}
                  <option value="{{id}}">{{name}}</option>
                {{/each}}
              {{else}}
                <option value=""></option>
              {{/if}}
            {{/select}}
          </select>
          <small id="fuelErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <!--<div class="form-row">
        <div class="form-group">
          <label for="combustionSelect">
            Combustion:
          </label>
          <select class="form-control" id="combustionSelect">
            {{#select combustionType}}
              {{#if (size view.combustionTypes) }}
                {{#each view.combustionTypes}}
                  <option value="{{id}}">{{name}}</option>
                {{/each}}
              {{else}}
                <option value=""></option>
              {{/if}}
            {{/select}}
          </select>
          <small id="combustionErrorHolder" class="text-danger">
          </small>
        </div>
      </div>-->

      <div class="row mb-2">
        <div class="col-md-6">
          <label for="priceField">
            Price:
          </label>
          <input type="number" class="form-control" id="priceField" placeholder="Price" maxLength="10" value="{{price}}" required>
          <small id="priceErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <label for="priceUnitSelect">
            Unit:
          </label>
          <select class="form-select" id="priceUnitSelect">
            {{#select priceUnits}}
              {{#each view.units.price}}
                <option value="{{key}}">{{{display}}}</option>
              {{/each}}
            {{/select}}
          </select>
          <small id="priceUnitErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <label for="economyField">
            Fuel Economy:
          </label>
          <input type="number" class="form-control" id="economyField" placeholder="Economy" maxLength="10" value="{{fuelEconomy}}" required>
          <small id="economyErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="economyUnitSelect">
            Unit:
          </label>
          <select class="form-select" id="economyUnitSelect">
            {{#select fuelEconomyUnits}}
              {{#each view.units.fuelEconomy}}
                <option value="{{key}}">{{{display}}}</option>
              {{/each}}
            {{/select}}
          </select>
          <small id="economyUnitErrorHolder" class="text-danger">
          </small>
        </div>
      </div>


      <div>
        <p id="formErrorHolder" class="text-danger text-center">
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="FuelCalculator.Analysis.onSaveTransportationSystem({{id}})">Save</button>
    {{#if view.edit}}
      <button type="button" class="btn btn-danger" onclick="FuelCalculator.Analysis.openDeleteTransportationConfirmationModel({{id}})">Delete</button>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
