<div class="row margin-top-lg">
  <div class="col-md-12">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active btn" id="pills-transportation-tab" data-bs-toggle="tab" data-bs-target="#pills-transportation" role="tab" aria-controls="pills-transportation" aria-selected="true">Transportation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-general-tab" data-bs-toggle="tab" data-bs-target="#pills-general" role="tab" aria-controls="pills-general" aria-selected="false">General</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-transportation" role="tabpanel" aria-labelledby="pills-transportation-tab">

        {{>TRANSPORTATION_ANALYSIS }}

      </div>

      <div class="tab-pane fade" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
        General Analysis Table will be here.
      </div>
    </div>

  </div>
</div>
