{{#if (size systems) }}
  <table class="table table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">System Name</th>
        <th scope="col">Fuel</th>
        <!--<th scope="col">Combustion</th>-->
        <th scope="col">Price</th>
        <th scope="col">Fuel Economy</th>
        <th scope="col">Energy Usage per Distance
          <select class="form-select" id="energyUsageDistanceUnit" onchange="FuelCalculator.Analysis.onTransportationAnalysisUnitSelect(this, 'energyUsagePerDistance')">
            {{#select units.selected.energyUsagePerDistance}}
              {{#each units.analysis.energyUsagePerDistance}}
                <option value="{{key}}">{{display}}</option>
              {{/each}}
            {{/select}}
          </select>
        </th>
        <th scope="col">Cost per Distance
          <select class="form-select" id="costPerDistanceUnit" onchange="FuelCalculator.Analysis.onTransportationAnalysisUnitSelect(this, 'costPerDistance')">
            {{#select units.selected.costPerDistance}}
              {{#each units.analysis.costPerDistance}}
                <option value="{{key}}">{{{display}}}</option>
              {{/each}}
            {{/select}}
          </select>
        </th>
        <th scope="col">Cost per Unit Energy
          <select class="form-select" id="costPerUnitEnergyUnit" onchange="FuelCalculator.Analysis.onTransportationAnalysisUnitSelect(this, 'costPerUnitEnergy')">
            {{#select units.selected.costPerUnitEnergy}}
              {{#each units.analysis.costPerUnitEnergy}}
                <option value="{{key}}">{{{display}}}</option>
              {{/each}}
            {{/select}}
          </select>
        </th>
        <th scope="col">CO<sub>2</sub> per Distance
          <select class="form-select" id="co2PerDistanceUnit" onchange="FuelCalculator.Analysis.onTransportationAnalysisUnitSelect(this, 'co2PerDistance')">
            {{#select units.selected.co2PerDistance}}
              {{#each units.analysis.co2PerDistance}}
                <option value="{{key}}">{{{display}}}</option>
              {{/each}}
            {{/select}}
          </select>
        </th>
        <th scope="col">CO<sub>2</sub> per Unit Energy
          <select class="form-select" id="co2PerUnitEnergyUnit" onchange="FuelCalculator.Analysis.onTransportationAnalysisUnitSelect(this, 'co2PerUnitEnergy')">
            {{#select units.selected.co2PerUnitEnergy}}
              {{#each units.analysis.co2PerUnitEnergy}}
                <option value="{{key}}">{{{display}}}</option>
              {{/each}}
            {{/select}}
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each systems}}
        <tr>
          <th scope="row">{{name}}</th>
          {{#if fuel.error}}
            <td><p class="text-danger">ERROR<p></td>
          {{else}}
            <td>{{fuel.name}}</td>
          {{/if}}
          <!--{{#if combustion.error}}
            <td><p class="text-danger">ERROR<p></td>
          {{else}}
            <td>{{combustion.name}}</td>
          {{/if}}-->
          <td>{{round price 2}} <p class="unit-small">({{{getDisplayUnitFromKey priceUnits ../units.system.price}}})</p></td>
          <td>{{fuelEconomy}} <p class="unit-small">({{{getDisplayUnitFromKey fuelEconomyUnits ../units.system.fuelEconomy}}})</p></td>
          <td>{{round energyUsagePerMile 3}}</td>
          <td>{{round pricePerDistance 3}}</td>
          <td>{{round pricePerEnergyUnit 3}}</td>
          <td>{{round co2PerDistance 3}}</td>
          <td>{{round co2PerUnitEnergy 3}}</td>
          <td class="borderless-cell table-default">
            <button type="button" class="btn btn-primary btn-sm" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Analysis.showAddEditTransportationSystemModal({{id}}))">Edit</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <p class="text-center margin-bottom-lg">No Transportations Defined</p>
{{/if}}
