<!--<div class="row margin-top-lg">
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-primary">Export</button>
  </div>
</div>-->

<div class="row margin-top-lg">
  <div class="col-md-12" id="transportationAnalysisTableHolder">

    {{> TRANSPORTATION_ANALYSIS_TABLE }}

  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Analysis.showAddEditTransportationSystemModal())">+ Add New System</button>
  </div>
</div>
