body {
  padding-top: 4rem;
  width: 100%;
}

#container {
  width: 100%;
}

.text-center {
  margin: auto;
}

.margin-top-sm {
  margin-top: .2em;
}

.margin-top-md {
  margin-top: .4em;
}

.margin-top-lg {
  margin-top: .7em;
}

.margin-bottom-md {
  margin-bottom: .4em;
}

.margin-bottom-lg {
  margin-bottom: .7em;
}

.margin-right-md {
  margin-right: .4em;
}

.margin-right-lg {
  margin-right: .7em;
}

.margin-left-md {
  margin-left: .4em;
}

.margin-left-lg {
  margin-left: .7em;
}

.button-no-outline {
  outline: none;
}

.button-no-outline {
  outline: none !important;
}

.button-no-outline:focus {
  outline: none !important;
}

.button-no-outline:active {
  outline: none !important;
}

.borderless-cell {
  border: 1px solid Transparent!important;
  background-color: white;
}

#flameHeaderIcon {
  max-height: 35px;
}

.loading-icon img {
    margin: auto;
    display: block;
    max-height: 75px;
    max-width: 75px;
}

.cell-border-top {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.cell-border-bottom {
  border-top: 2px solid black;
}

.unit-small {
  font-size: 12px;
}
