<div class="modal-content">
  <div class="modal-header">
    {{#if view.edit}}
      <h5 class="modal-title" id="modalLabel">Edit Combustion Type Definition</h5>
    {{else}}
      <h5 class="modal-title" id="modalLabel">Add Combustion Type Definition</h5>
    {{/if}}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form id="combustionDefinitionForm">

      <div class="form-row">
        <div class="form-group">
          <label for="combustionNameField">
            Combustion Type Name:
          </label>
          <input type="text" class="form-control" id="combustionNameField" placeholder="Combustion Name" maxLength="30" required value="{{combustion.name}}">
          <small id="combustionNameErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="equivalenceRatioField">
            Equivalence Ratio &phi;:
          </label>
          <input type="number" class="form-control" id="equivalenceRatioField" placeholder="Ratio" maxLength="10" min="0" required value="{{combustion.ratio}}">
          <small id="equivalenceRatioErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="oxidizerSelect">
            Oxidizer:
          </label>
          <select class="form-control" id="oxidizerSelect">
            {{#select combustion.oxidizer}}
              <option value="Air">Air</option>
              <option value="Oxygen">Oxygen</option>
            {{/select}}
          </select>
          <small id="oxidizerErrorHolder" class="text-danger">
          </small>
        </div>
      </div>


      <div>
        <p id="formErrorHolder" class="text-danger text-center">
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="FuelCalculator.Combustion.saveCombustionDefinition('{{combustion.id}}')">Save</button>
    {{#if view.edit}}
    <button type="button" class="btn btn-danger" onclick="FuelCalculator.Combustion.openDeleteConfirmationModel('{{combustion.id}}')">Delete</button>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
</div>
