<div class="row margin-top-lg">
  <div class="col-md-12">
    <button type="button" class="btn btn-danger float-right" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Combustion.openAllDeleteConfirmationModel())">Delete All</button>
  </div>
</div>
<div class="row margin-top-lg">
  <div class="col-md-12">

    {{#if error}}

      <p class="text-center">{{errorMsg}}</p>

    {{else}}

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Combustion Type Name</th>
            <th scope="col">Equivalence Ratio &phi;</th>
            <th scope="col">Oxidizer</th>
          </tr>
        </thead>
        <tbody>
          {{#each combustions}}
            <tr>
              <th scope="row">{{name}}</th>
              <td>{{ratio}}</td>
              <td>{{oxidizer}}</td>
              <td class="borderless-cell">
                <button type="button" class="btn btn-primary btn-sm" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Combustion.showAddEditCombustionDefinitionModal('{{id}}'))">Edit</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    {{/if}}

    <div class="row">
      <div class="col-md-12 text-center margin-top-lg">
        <button type="button" class="btn btn-primary" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Combustion.showAddEditCombustionDefinitionModal())">+ Add New Combustion Type</button>
      </div>
    </div>

  </div>
</div>
