<div class="row margin-top-lg">
  <div class="col-md-12">

    <table class="table table-bordered table-sm table-striped text-center">
      <thead>
        <tr class="d-flex">
          <th class="col-2">Bonds per Molecule</th>
          <th class="col-1">{{BondEnergy.bondTotalPerMolecule.bond1}}</th>
          <th class="col-1">{{BondEnergy.bondTotalPerMolecule.bond2}}</th>
          <th class="col-1">{{BondEnergy.bondTotalPerMolecule.bond3}}</th>
          <th class="col-1">{{BondEnergy.bondTotalPerMolecule.bond4}}</th>
          <th class="col-1">{{BondEnergy.bondTotalPerMolecule.bond5}}</th>
          <th class="col-1">{{BondEnergy.bondTotalPerMolecule.bond6}}</th>
          <th class="col-4 table-secondary">% Energy from Bond Type</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <th scope="row" class="col-2">C - C</th>
          <td class="col-1"><input type="number" id="bond1-c1c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c1c}}"</td>
          <td class="col-1"><input type="number" id="bond2-c1c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c1c}}"</td>
          <td class="col-1"><input type="number" id="bond3-c1c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c1c}}"</td>
          <td class="col-1"><input type="number" id="bond4-c1c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c1c}}"</td>
          <td class="col-1"><input type="number" id="bond5-c1c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c1c}}"</td>
          <td class="col-1"><input type="number" id="bond6-c1c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c1c}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c1c}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C -- C</th>
          <td class="col-1"><input type="number" id="bond1-c2c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c2c}}"</td>
          <td class="col-1"><input type="number" id="bond2-c2c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c2c}}"</td>
          <td class="col-1"><input type="number" id="bond3-c2c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c2c}}"</td>
          <td class="col-1"><input type="number" id="bond4-c2c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c2c}}"</td>
          <td class="col-1"><input type="number" id="bond5-c2c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c2c}}"</td>
          <td class="col-1"><input type="number" id="bond6-c2c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c2c}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c2c}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C --- C</th>
          <td class="col-1"><input type="number" id="bond1-c3c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c3c}}"</td>
          <td class="col-1"><input type="number" id="bond2-c3c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c3c}}"</td>
          <td class="col-1"><input type="number" id="bond3-c3c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c3c}}"</td>
          <td class="col-1"><input type="number" id="bond4-c3c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c3c}}"</td>
          <td class="col-1"><input type="number" id="bond5-c3c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c3c}}"</td>
          <td class="col-1"><input type="number" id="bond6-c3c-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c3c}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c3c}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C - H</th>
          <td class="col-1"><input type="number" id="bond1-c1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c1h}}"</td>
          <td class="col-1"><input type="number" id="bond2-c1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c1h}}"</td>
          <td class="col-1"><input type="number" id="bond3-c1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c1h}}"</td>
          <td class="col-1"><input type="number" id="bond4-c1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c1h}}"</td>
          <td class="col-1"><input type="number" id="bond5-c1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c1h}}"</td>
          <td class="col-1"><input type="number" id="bond6-c1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c1h}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c1h}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C - N</th>
          <td class="col-1"><input type="number" id="bond1-c1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c1n}}"</td>
          <td class="col-1"><input type="number" id="bond2-c1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c1n}}"</td>
          <td class="col-1"><input type="number" id="bond3-c1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c1n}}"</td>
          <td class="col-1"><input type="number" id="bond4-c1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c1n}}"</td>
          <td class="col-1"><input type="number" id="bond5-c1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c1n}}"</td>
          <td class="col-1"><input type="number" id="bond6-c1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c1n}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c1n}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C -- N</th>
          <td class="col-1"><input type="number" id="bond1-c2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c2n}}"</td>
          <td class="col-1"><input type="number" id="bond2-c2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c2n}}"</td>
          <td class="col-1"><input type="number" id="bond3-c2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c2n}}"</td>
          <td class="col-1"><input type="number" id="bond4-c2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c2n}}"</td>
          <td class="col-1"><input type="number" id="bond5-c2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c2n}}"</td>
          <td class="col-1"><input type="number" id="bond6-c2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c2n}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c2n}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C --- N</th>
          <td class="col-1"><input type="number" id="bond1-c3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c3n}}"</td>
          <td class="col-1"><input type="number" id="bond2-c3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c3n}}"</td>
          <td class="col-1"><input type="number" id="bond3-c3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c3n}}"</td>
          <td class="col-1"><input type="number" id="bond4-c3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c3n}}"</td>
          <td class="col-1"><input type="number" id="bond5-c3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c3n}}"</td>
          <td class="col-1"><input type="number" id="bond6-c3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c3n}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c3n}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C - O</th>
          <td class="col-1"><input type="number" id="bond1-c1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c1o}}"</td>
          <td class="col-1"><input type="number" id="bond2-c1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c1o}}"</td>
          <td class="col-1"><input type="number" id="bond3-c1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c1o}}"</td>
          <td class="col-1"><input type="number" id="bond4-c1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c1o}}"</td>
          <td class="col-1"><input type="number" id="bond5-c1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c1o}}"</td>
          <td class="col-1"><input type="number" id="bond6-c1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c1o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c1o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C -- O</th>
          <td class="col-1"><input type="number" id="bond1-c2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c2o}}"</td>
          <td class="col-1"><input type="number" id="bond2-c2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c2o}}"</td>
          <td class="col-1"><input type="number" id="bond3-c2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c2o}}"</td>
          <td class="col-1"><input type="number" id="bond4-c2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c2o}}"</td>
          <td class="col-1"><input type="number" id="bond5-c2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c2o}}"</td>
          <td class="col-1"><input type="number" id="bond6-c2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c2o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c2o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C --- O</th>
          <td class="col-1"><input type="number" id="bond1-c3o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.c3o}}"</td>
          <td class="col-1"><input type="number" id="bond2-c3o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.c3o}}"</td>
          <td class="col-1"><input type="number" id="bond3-c3o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.c3o}}"</td>
          <td class="col-1"><input type="number" id="bond4-c3o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.c3o}}"</td>
          <td class="col-1"><input type="number" id="bond5-c3o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.c3o}}"</td>
          <td class="col-1"><input type="number" id="bond6-c3o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.c3o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.c3o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">H - H</th>
          <td class="col-1"><input type="number" id="bond1-h1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.h1h}}"</td>
          <td class="col-1"><input type="number" id="bond2-h1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.h1h}}"</td>
          <td class="col-1"><input type="number" id="bond3-h1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.h1h}}"</td>
          <td class="col-1"><input type="number" id="bond4-h1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.h1h}}"</td>
          <td class="col-1"><input type="number" id="bond5-h1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.h1h}}"</td>
          <td class="col-1"><input type="number" id="bond6-h1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.h1h}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.h1h}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N - H</th>
          <td class="col-1"><input type="number" id="bond1-n1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.n1h}}"</td>
          <td class="col-1"><input type="number" id="bond2-n1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.n1h}}"</td>
          <td class="col-1"><input type="number" id="bond3-n1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.n1h}}"</td>
          <td class="col-1"><input type="number" id="bond4-n1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.n1h}}"</td>
          <td class="col-1"><input type="number" id="bond5-n1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.n1h}}"</td>
          <td class="col-1"><input type="number" id="bond6-n1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.n1h}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.n1h}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N - N</th>
          <td class="col-1"><input type="number" id="bond1-n1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.n1n}}"</td>
          <td class="col-1"><input type="number" id="bond2-n1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.n1n}}"</td>
          <td class="col-1"><input type="number" id="bond3-n1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.n1n}}"</td>
          <td class="col-1"><input type="number" id="bond4-n1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.n1n}}"</td>
          <td class="col-1"><input type="number" id="bond5-n1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.n1n}}"</td>
          <td class="col-1"><input type="number" id="bond6-n1n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.n1n}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.n1n}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N -- N</th>
          <td class="col-1"><input type="number" id="bond1-n2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.n2n}}"</td>
          <td class="col-1"><input type="number" id="bond2-n2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.n2n}}"</td>
          <td class="col-1"><input type="number" id="bond3-n2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.n2n}}"</td>
          <td class="col-1"><input type="number" id="bond4-n2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.n2n}}"</td>
          <td class="col-1"><input type="number" id="bond5-n2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.n2n}}"</td>
          <td class="col-1"><input type="number" id="bond6-n2n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.n2n}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.n2n}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N --- N</th>
          <td class="col-1"><input type="number" id="bond1-n3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.n3n}}"</td>
          <td class="col-1"><input type="number" id="bond2-n3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.n3n}}"</td>
          <td class="col-1"><input type="number" id="bond3-n3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.n3n}}"</td>
          <td class="col-1"><input type="number" id="bond4-n3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.n3n}}"</td>
          <td class="col-1"><input type="number" id="bond5-n3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.n3n}}"</td>
          <td class="col-1"><input type="number" id="bond6-n3n-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.n3n}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.n3n}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N - O</th>
          <td class="col-1"><input type="number" id="bond1-n1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.n1o}}"</td>
          <td class="col-1"><input type="number" id="bond2-n1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.n1o}}"</td>
          <td class="col-1"><input type="number" id="bond3-n1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.n1o}}"</td>
          <td class="col-1"><input type="number" id="bond4-n1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.n1o}}"</td>
          <td class="col-1"><input type="number" id="bond5-n1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.n1o}}"</td>
          <td class="col-1"><input type="number" id="bond6-n1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.n1o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.n1o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N -- O</th>
          <td class="col-1"><input type="number" id="bond1-n2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.n2o}}"</td>
          <td class="col-1"><input type="number" id="bond2-n2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.n2o}}"</td>
          <td class="col-1"><input type="number" id="bond3-n2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.n2o}}"</td>
          <td class="col-1"><input type="number" id="bond4-n2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.n2o}}"</td>
          <td class="col-1"><input type="number" id="bond5-n2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.n2o}}"</td>
          <td class="col-1"><input type="number" id="bond6-n2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.n2o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.n2o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">O - H</th>
          <td class="col-1"><input type="number" id="bond1-o1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.o1h}}"</td>
          <td class="col-1"><input type="number" id="bond2-o1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.o1h}}"</td>
          <td class="col-1"><input type="number" id="bond3-o1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.o1h}}"</td>
          <td class="col-1"><input type="number" id="bond4-o1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.o1h}}"</td>
          <td class="col-1"><input type="number" id="bond5-o1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.o1h}}"</td>
          <td class="col-1"><input type="number" id="bond6-o1h-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.o1h}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.o1h}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">O - O</th>
          <td class="col-1"><input type="number" id="bond1-o1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.o1o}}"</td>
          <td class="col-1"><input type="number" id="bond2-o1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.o1o}}"</td>
          <td class="col-1"><input type="number" id="bond3-o1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.o1o}}"</td>
          <td class="col-1"><input type="number" id="bond4-o1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.o1o}}"</td>
          <td class="col-1"><input type="number" id="bond5-o1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.o1o}}"</td>
          <td class="col-1"><input type="number" id="bond6-o1o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.o1o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.o1o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">O -- O</th>
          <td class="col-1"><input type="number" id="bond1-o2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond1.o2o}}"</td>
          <td class="col-1"><input type="number" id="bond2-o2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond2.o2o}}"</td>
          <td class="col-1"><input type="number" id="bond3-o2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond3.o2o}}"</td>
          <td class="col-1"><input type="number" id="bond4-o2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond4.o2o}}"</td>
          <td class="col-1"><input type="number" id="bond5-o2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond5.o2o}}"</td>
          <td class="col-1"><input type="number" id="bond6-o2o-{{id}}" class="form-control" maxLength="3" min="0" onchange="FuelCalculator.Fuels.onBondEnergyInput(this)" value="{{BondEnergy.fields.bond6.o2o}}"</td>
          <td class="col-4 table-secondary">{{BondEnergy.percentEnergyFromBondType.o2o}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2 table-secondary">Total Molecule Bond Energy <i>[kJ/kg]</i></th>
          <td class="col-1 table-secondary">{{round BondEnergy.totalBondEnergy.bond1 1}}</td>
          <td class="col-1 table-secondary">{{round BondEnergy.totalBondEnergy.bond2 1}}</td>
          <td class="col-1 table-secondary">{{round BondEnergy.totalBondEnergy.bond3 1}}</td>
          <td class="col-1 table-secondary">{{round BondEnergy.totalBondEnergy.bond4 1}}</td>
          <td class="col-1 table-secondary">{{round BondEnergy.totalBondEnergy.bond5 1}}</td>
          <td class="col-1 table-secondary">{{round BondEnergy.totalBondEnergy.bond6 1}}</td>
          <td class="col-4 table-info cell-border-top"><b>Total Fuel Bond Energy <i>[kJ/kg fuel]</i>:</b></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2 table-secondary">% Energy from Molecule</th>
          <td class="col-1 table-secondary">{{BondEnergy.percentEnergyPerMolecule.bond1}}</td>
          <td class="col-1 table-secondary">{{BondEnergy.percentEnergyPerMolecule.bond2}}</td>
          <td class="col-1 table-secondary">{{BondEnergy.percentEnergyPerMolecule.bond3}}</td>
          <td class="col-1 table-secondary">{{BondEnergy.percentEnergyPerMolecule.bond4}}</td>
          <td class="col-1 table-secondary">{{BondEnergy.percentEnergyPerMolecule.bond5}}</td>
          <td class="col-1 table-secondary">{{BondEnergy.percentEnergyPerMolecule.bond6}}</td>
          <td class="col-4 table-info"><b>{{round BondEnergy.totalBondEnergy.total 1}}</b></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
