<div class="row margin-top-lg">
  <div class="col-md-12">
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Fuel Name</th>
          <th scope="col">Total Bond Energy<br><i>[MJ/kg fuel]</i></th>
          <th scope="col">Molecular Weight<br><i>[g/mol fuel]</i></th>
          <th scope="col">Stoichiometric Air Mass<br><i>[g/mol fuel]</i></th>
          <th scope="col">Stoichiometric AFR</th>
          <th scope="col">Lower Heating Value<br><i>[kJ/kg fuel]</i></th>
        </tr>
      </thead>
      <tbody>
        {{#each fuels}}
        <tr>
          <th scope="row">{{name}}</th>
          <td>{{convertBondEnergy BondEnergy.totalBondEnergy.total}}</td>
          <td>{{round molecularWeight 1}}</td>
          <td>{{round stoichAirMass 1}}</td>
          <td>{{round stoichAFR 1}}</td>
          <td>{{round lowerHeatingValue 1}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
