<div class="row margin-top-lg">
  <div class="col-md-12">

    <div id="fuelDefinitionNavHolder">
      {{> FUEL_DEFINITION_NAV }}
    </div>

    <div class="tab-content" id="pills-tabContent">

      <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
        <div id="fuelOverviewTableHolder">
          {{> FUEL_COMPARISON_TABLE }}
        </div>
      </div>

      {{#each fuels}}
        {{> FUEL_DEFINITION_VIEW }}
      {{/each}}

    </div>
  </div>
</div>
