<div class="col-md-12">

  <button type="button" class="btn btn-outline-primary" onclick="FuelCalculator.Fuels.onSave('{{id}}')"><i class="far fa-save"></i> Save Changes</button>
  <button type="button" class="btn btn-outline-danger" onclick="FuelCalculator.Fuels.onCancel('{{id}}')"><i class="fas fa-ban"></i></i> Cancel Changes</button>

  {{#if default}}
    <button type="button" class="btn btn-outline-danger float-end" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.openResetFuelConfirmationModel('{{name}}'))">Reset</button>
  {{else}}
    <button type="button" class="btn btn-outline-danger float-end" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.openDeleteConfirmationModel({{id}}))">Delete</button>
  {{/if}}
</div>
