<div class="tab-pane fade" id="pills-{{id}}" role="tabpanel" aria-labelledby="pills-{{id}}-tab">

  <div class="row margin-top-lg margin-bottom-lg" id="fuelFormButtonsHolder-{{id}}">
    {{> FUEL_DEFINITION_FORM_BUTTONS }}
  </div>

  <div id="detailsTableHolder-{{id}}">
    {{> FUEL_DEFINITION_FORM }}
  </div>

  <hr>

  <div class="row margin-top-lg">
    <div class="col-md-12 text-center">
      <h4>Fuel Species</h4>
    </div>
  </div>

  <div id="moleFractionTableHolder-{{id}}">
    {{> MOLE_FRACTION_TABLE }}
  </div>

  <div id="bondEnergyTableHolder-{{id}}">
    {{> BOND_ENERGY_TABLE }}
  </div>

</div>
