<div class="col-md-12">

  <button type="button" class="btn btn-outline-primary" onclick="FuelCalculator.Fuels.onEdit('{{id}}')"><i class="far fa-edit"></i> Edit Fuel</button>

  {{#if default}}
    <button type="button" class="btn btn-outline-danger float-end" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.openResetFuelConfirmationModel('{{name}}'))">Reset</button>
  {{else}}
    <button type="button" class="btn btn-outline-danger float-end" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.openDeleteConfirmationModel({{id}}))">Delete</button>
  {{/if}}
</div>
