<div class="row margin-top-lg">
  <div class="col-md-2">
    <fieldset class="form-group">
      <label for="fuelName">Fuel Name</label>
      <input type="text" class="form-control" id="fuelName-{{id}}" name="fuelName" {{#if default}} readonly{{/if}} value="{{name}}">
      <small id="fuelNameErrorHolder-{{id}}" class="text-danger"></small>
    </fieldset>
  </div>
  <div class="col-md-2">
    <fieldset class="form-group">
      <label for="fuelDensity">Fuel Density</label>
      <input type="text" class="form-control" id="fuelDensity-{{id}}" name="fuelDensity" value="{{fuelDensity}}">
      <small id="fuelDensityErrorHolder-{{id}}" class="text-danger"></small>
    </fieldset>
  </div>
  <div class="col-md-2">
    <fieldset class="form-group">
      <label for="fuelDensityUnit">Fuel Density Unit</label>
      <select class="form-control" id="fuelDensityUnit-{{id}}">
        {{#select fuelDensityUnit}}
          <option value="kg/m3">kg/m&sup3;</option>
          <option value="lb/ft3">lb/ft&sup3;</option>
        {{/select}}
      </select>
    </fieldset>
  </div>
</div>

<div class="row margin-top-lg">
  <div class="col-md-2">
    <fieldset class="form-group">
      <label for="fuelHeatingValue">Lower Heating Value <i>[kJ/kg fuel]</i></label>
      {{#if useDefinedHeatingValue}}
        <input type="text" class="form-control" id="fuelHeatingValue-{{id}}" name="fuelHeatingValue" placeholder="Heating Value" value="{{round lowerHeatingValue 1}}">
      {{else}}
        <input type="text" class="form-control" id="fuelHeatingValue-{{id}}" name="fuelHeatingValue" placeholder="Heating Value" readonly value="{{round lowerHeatingValue 1}}">
      {{/if}}
        <small id="fuelHeatingValueErrorHolder-{{id}}" class="text-danger"></small>
    </fieldset>
  </div>
  <div class="col-md-4">
    <fieldset class="text-center">
      <label for="fuelHeatingValue">Use Defined Heating Value</label>
      {{#if useDefinedHeatingValue}}
        <input type="checkbox" class="form-check-input" id="heatingValueCheckbox-{{id}}" name="heatingValueCheckbox" checked onchange="FuelCalculator.Fuels.onUseDefinedHeatingValueCheck(this)">
      {{else}}
        <input type="checkbox" class="form-check-input" id="heatingValueCheckbox-{{id}}" name="heatingValueCheckbox" onchange="FuelCalculator.Fuels.onUseDefinedHeatingValueCheck(this)">
      {{/if}}
    </fieldset>
  </div>
</div>
