<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active btn" id="pills-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true" onclick="FuelCalculator.Fuels.onOverviewTabClick()">OVERVIEW</a>
  </li>

  {{#each fuels}}
    {{> FUEL_DEFINITION_PILL }}
  {{/each}}

  <li class="nav-item margin-left-md">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle button-no-outline" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        + ADD FUEL
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <button class="dropdown-item" type="button" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.showNameNewFuelModal())">Custom Defintion</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.showNameNewFuelModal('Gasoline'))">Gasoline</button>
        <button class="dropdown-item" type="button" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.showNameNewFuelModal('Diesel'))">Diesel</button>
        <button class="dropdown-item" type="button" onclick="FuelCalculator.Utils.openModal(FuelCalculator.Fuels.showNameNewFuelModal('Ethanol'))">Ethanol</button>
      </div>
    </div>
  </li>

</ul>
