<li class="nav-item">
  <a class="nav-link btn" id="pills-{{id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{id}}" role="tab" aria-controls="pills-{{id}}" aria-selected="false">{{name}}</a>
</li>
