<div class="row margin-top-lg">
  <div class="col-md-12">

    <table class="table table-bordered table-sm table-striped text-center">
      <thead>
        <tr class="d-flex">
          <th class="col-2"></th>
          <th class="col-1">#1</th>
          <th class="col-1">#2</th>
          <th class="col-1">#3</th>
          <th class="col-1">#4</th>
          <th class="col-1">#5</th>
          <th class="col-1">#6</th>
          <th class="col-4">SUM</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <th scope="row" class="col-2">Mole Fraction</th>
          <td class="col-1">{{MoleFraction.field1}}</td>
          <td class="col-1">{{MoleFraction.field2}}</td>
          <td class="col-1">{{MoleFraction.field3}}</td>
          <td class="col-1">{{MoleFraction.field4}}</td>
          <td class="col-1">{{MoleFraction.field5}}</td>
          <td class="col-1">{{MoleFraction.field6}}</td>
          <td class="col-4">{{MoleFraction.sum}}</td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C</th>
          <td class="col-1">{{AtomicStructure.c1}}</td>
          <td class="col-1">{{AtomicStructure.c2}}</td>
          <td class="col-1">{{AtomicStructure.c3}}</td>
          <td class="col-1">{{AtomicStructure.c4}}</td>
          <td class="col-1">{{AtomicStructure.c5}}</td>
          <td class="col-1">{{AtomicStructure.c6}}</td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">H</th>
          <td class="col-1">{{AtomicStructure.h1}}</td>
          <td class="col-1">{{AtomicStructure.h2}}</td>
          <td class="col-1">{{AtomicStructure.h3}}</td>
          <td class="col-1">{{AtomicStructure.h4}}</td>
          <td class="col-1">{{AtomicStructure.h5}}</td>
          <td class="col-1">{{AtomicStructure.h6}}</td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">O</th>
          <td class="col-1">{{AtomicStructure.o1}}</td>
          <td class="col-1">{{AtomicStructure.o2}}</td>
          <td class="col-1">{{AtomicStructure.o3}}</td>
          <td class="col-1">{{AtomicStructure.o4}}</td>
          <td class="col-1">{{AtomicStructure.o5}}</td>
          <td class="col-1">{{AtomicStructure.o6}}</td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N</th>
          <td class="col-1">{{AtomicStructure.n1}}</td>
          <td class="col-1">{{AtomicStructure.n2}}</td>
          <td class="col-1">{{AtomicStructure.n3}}</td>
          <td class="col-1">{{AtomicStructure.n4}}</td>
          <td class="col-1">{{AtomicStructure.n5}}</td>
          <td class="col-1">{{AtomicStructure.n6}}</td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2 table-secondary">Molecular Weight</th>
          <td class="col-1 table-secondary">{{round AtomicStructure.molecularWeight.bond1 1}}</td>
          <td class="col-1 table-secondary">{{round AtomicStructure.molecularWeight.bond2 1}}</td>
          <td class="col-1 table-secondary">{{round AtomicStructure.molecularWeight.bond3 1}}</td>
          <td class="col-1 table-secondary">{{round AtomicStructure.molecularWeight.bond4 1}}</td>
          <td class="col-1 table-secondary">{{round AtomicStructure.molecularWeight.bond5 1}}</td>
          <td class="col-1 table-secondary">{{round AtomicStructure.molecularWeight.bond6 1}}</td>
          <td class="col-4 table-secondary cell-border-top"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
