<div class="row margin-top-lg">
  <div class="col-md-12">

    <div class="text-center">
      <p class="text-danger" id="moleFractionTableError-{{id}}"></p>
    </div>

    <table class="table table-bordered table-sm table-striped text-center">
      <thead>
        <tr class="d-flex">
          <th class="col-2"></th>
          <th class="col-1">#1</th>
          <th class="col-1">#2</th>
          <th class="col-1">#3</th>
          <th class="col-1">#4</th>
          <th class="col-1">#5</th>
          <th class="col-1">#6</th>
          <th class="col-4">SUM</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <th scope="row" class="col-2">Mole Fraction</th>
          <td class="col-1"><input type="number" id="MoleFraction-1-{{id}}" class="form-control mole-fraction-input" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onMoleFractionInput(this)" value="{{MoleFraction.field1}}"></td>
          <td class="col-1"><input type="number" id="MoleFraction-2-{{id}}" class="form-control mole-fraction-input" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onMoleFractionInput(this)" value="{{MoleFraction.field2}}"></td>
          <td class="col-1"><input type="number" id="MoleFraction-3-{{id}}" class="form-control mole-fraction-input" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onMoleFractionInput(this)" value="{{MoleFraction.field3}}"></td>
          <td class="col-1"><input type="number" id="MoleFraction-4-{{id}}" class="form-control mole-fraction-input" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onMoleFractionInput(this)" value="{{MoleFraction.field4}}"></td>
          <td class="col-1"><input type="number" id="MoleFraction-5-{{id}}" class="form-control mole-fraction-input" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onMoleFractionInput(this)" value="{{MoleFraction.field5}}"></td>
          <td class="col-1"><input type="number" id="MoleFraction-6-{{id}}" class="form-control mole-fraction-input" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onMoleFractionInput(this)" value="{{MoleFraction.field6}}"></td>
          <td class="col-4">
            <p id="MoleFraction-sum-{{id}}">{{MoleFraction.sum}}</p>
          </td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">C</th>
          <td class="col-1"><input type="number" id="C-1-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.c1}}"></td>
          <td class="col-1"><input type="number" id="C-2-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.c2}}"></td>
          <td class="col-1"><input type="number" id="C-3-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.c3}}"></td>
          <td class="col-1"><input type="number" id="C-4-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.c4}}"></td>
          <td class="col-1"><input type="number" id="C-5-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.c5}}"></td>
          <td class="col-1"><input type="number" id="C-6-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.c6}}"></td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">H</th>
          <td class="col-1"><input type="number" id="H-1-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.h1}}"></td>
          <td class="col-1"><input type="number" id="H-2-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.h2}}"></td>
          <td class="col-1"><input type="number" id="H-3-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.h3}}"></td>
          <td class="col-1"><input type="number" id="H-4-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.h4}}"></td>
          <td class="col-1"><input type="number" id="H-5-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})"value="{{AtomicStructure.h5}}"></td>
          <td class="col-1"><input type="number" id="H-6-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.h6}}"></td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">O</th>
          <td class="col-1"><input type="number" id="O-1-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.o1}}"></td>
          <td class="col-1"><input type="number" id="O-2-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.o2}}"></td>
          <td class="col-1"><input type="number" id="O-3-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.o3}}"></td>
          <td class="col-1"><input type="number" id="O-4-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.o4}}"></td>
          <td class="col-1"><input type="number" id="O-5-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.o5}}"></td>
          <td class="col-1"><input type="number" id="O-6-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.o6}}"></td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2">N</th>
          <td class="col-1"><input type="number" id="N-1-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.n1}}"></td>
          <td class="col-1"><input type="number" id="N-2-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.n2}}"></td>
          <td class="col-1"><input type="number" id="N-3-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.n3}}"></td>
          <td class="col-1"><input type="number" id="N-4-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.n4}}"></td>
          <td class="col-1"><input type="number" id="N-5-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.n5}}"></td>
          <td class="col-1"><input type="number" id="N-6-{{id}}" class="form-control" maxLength="2" min="0" onchange="FuelCalculator.Fuels.onAtomicStrutureChange({{id}})" value="{{AtomicStructure.n6}}"></td>
          <td class="col-4"></td>
        </tr>
        <tr class="d-flex">
          <th scope="row" class="col-2 table-secondary">Molecular Weight</th>
          <td class="col-1 table-secondary" id="weight-bond1">{{round AtomicStructure.molecularWeight.bond1 1}}</td>
          <td class="col-1 table-secondary" id="weight-bond2">{{round AtomicStructure.molecularWeight.bond2 1}}</td>
          <td class="col-1 table-secondary" id="weight-bond3">{{round AtomicStructure.molecularWeight.bond3 1}}</td>
          <td class="col-1 table-secondary" id="weight-bond4">{{round AtomicStructure.molecularWeight.bond4 1}}</td>
          <td class="col-1 table-secondary" id="weight-bond5">{{round AtomicStructure.molecularWeight.bond5 1}}</td>
          <td class="col-1 table-secondary" id="weight-bond6">{{round AtomicStructure.molecularWeight.bond6 1}}</td>
          <td class="col-4 table-secondary cell-border-top"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
