<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Create New Fuel Definintion</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form id="newFuelNameForm">

      <div class="row">
        <div class="col">
          <label for="newFuelNameField">
            New Fuel Definition Name:
          </label>
          <input type="text" class="form-control" id="newFuelNameField" placeholder="Fuel Name" maxLength="30" required value="{{name}}">
          <small id="newFuelNameErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div>
        <p id="newFuelNameFormErrorHolder" class="text-danger text-center">
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="FuelCalculator.Fuels.onNewFuelNameSelect('{{type}}')">Create</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
